
<div class="ui form signupform">
  <h2>Mailbox</h2>

  <div class="ui middle aligned divided list">
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.sender_id == current_user.id || chatroom.recipient_id == current_user.id %>
        <% if chatroom.sender_id == current_user.id %>
          <% recipient = User.find(chatroom.recipient_id) %>
        <% else %>
          <% recipient = User.find(chatroom.sender_id) %>
        <% end %>
        <div class="item">
          <div class="right floated content">
            <div class="ui message-button button"><%= link_to recipient.username, chatroom_messages_path(chatroom)%></div>
          </div>
          <img class="ui avatar image" src="http://avchiropractichealthcenter.com/wp-content/uploads/2015/05/AVC.Running.jpg">
          <div class="content">
            <%= recipient.username %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
