<div class=”ui segment”>

  <h3>Mailbox</h3>

    <div class=”ui list”>
      <div class=”item”>
        <% @chatrooms.each do |chatroom| %>
          <% if chatroom.sender_id == current_user.id || chatroom.recipient_id == current_user.id %>
            <% if chatroom.sender_id == current_user.id %>
              <% recipient = User.find(chatroom.recipient_id) %>
            <% else %>
              <% recipient = User.find(chatroom.sender_id) %>
            <% end %>

            <%= link_to recipient.username, chatroom_messages_path(chatroom)%>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
