<div class="chatroom-wrapper">
  <section class="chatroom-header">
    <h1><%= @chatroom.topic %></h1>
  </section>

  <section class="chatroom-messages">
    <% if @chatroom.messages.any? %>
      <div class="chatroom-messages-body" id="messages">
        <%= render partial: 'partials/message', collection: @chatroom.messages %>
      </div>
    <%else%>
      <div class="chatroom-messages-body hidden" id="messages">

      </div>
    <%end%>
  </section>

  <%= render partial: 'partials/message_form', locals: { message: @message, chatroom: @chatroom } %>
</div>
