
<%= form_tag '/session', class: 'ui form', method: 'post' do%>

  <div class="field">
    <label for="">Email</label>
    <input class="ui input" type="email" name="email">
  </div>
  <div class="field">
    <label for="">Password</label>
    <input class="ui input" type="password" name="password">
  </div>
  <button class="ui blue button">Login</button>

<% end %>
