<div class=”ui segment”>

  <h3>All Users</h3>

  <div class=”ui list”>
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <div class=”item”>
          <%= user.username %> <%= link_to ('Message me!'), chatrooms_path(sender_id: current_user.id, recipient_id: user.id), method: :post%>
        </div>
      <% end %>
    <% end %>
 </div>
