
<div class="form-wrapper">
  <div class="form-header">
    <div class="signupform">
      <h2>Editing your Account</h2>
    </div>
    
    <%= form_tag user_path, class: 'ui form', method: 'patch' do %>

      <div class="field">
        <input class="field" type="email" name="email" placeholder="Email" value="<%= @user.email %>">
      </div>
      <div class="field">
        <input class="field" type="text" name="username" placeholder="Username" value="<%= @user.username %>">
      </div>
      <div class="field">
        <input class="field" type="password" name="password" placeholder="New password? Type it here" value="">
      </div>
      <button class="ui blue button">Update</button>

    <% end %>
  </div>
</div>
