
<div class="home-wrapper">
  <div class="home-container">


    <footer class="home-footer">
      <h1>FITAFLY</h1>
      <h3>Train Anywhere. Anytime.</h3>

      <div class="home-footer-links">
        <a href="/users/new">Sign Up</a>
        <a href="/login">Login</a>
      </div>

    </footer>
  </div>
</div>
