
<div class="user-show-container">
  <section class="user-show-header">
    <h1>My Activities</h1>
  </section>

  <section class="user-show-host">
    <h1>Upcoming Hosted Activities</h1>

    <!-- if user has not created an event, this displays host event button -->
    <% if @host_event.empty? %>
      <form action="/events/new">
        <button class="ui green button">Host an Event</button>
      </form>

    <!-- Displays all events user has created -->
    <% else %>
      <% @host_event.each do |host| %>
        <div class='user-event-host-card'>
          <h2><%= host['title'] %></h2>
          <p><%= host['date'] %></p>

          total number of registrations for user hosted events
          <% total = Registration.where(event_id: host['id']).size %>
          <p>Total Registrations <%= total %></p>
        </div>
      <% end %>
    <% end %>
  </section>

  <section class="user-show-attending">
    <h1>Upcoming Attending Activities</h1>
  </section>
</div>
