
<div class="user-show-container">
  <section class="user-show-header">
    <h1>My Activities</h1>
  </section>

  <section class="user-show-host">
    <h1>Upcoming Hosted Activities</h1>
    <% @host_event.each do |host| %>
      <div class='user-event-host-card'>
        <h2><%= host['title'] %></h2>
        <p><%= host['date'] %></p>
        <% if host['id'] == @host_attendees['event_id'] && @user_attending != nil %>
          <p><%= @user_attending.username %></p>
        <% end %>
      </div>
    <% end %>
  </section>

  <section class="user-show-attending">
    <h1>Upcoming Attending Activities</h1>
    <% @user_events.each do |event| %>
      <div class='user-event-register-card'>
        <h2><% event[0]['title'] %></h2>
        <p>When: <%= event[0]['date'] %></p>
      </div>
    <% end %>
  </section>
</div>
