

<div class="index-container">

  <div class="header-index">
    <div class="header-index-hostbtn">
      <h2>Why Not Host Your Own Event?</h2>
      <%= form_tag("/events/new", method: :get) %>
        <button class="ui green button">Host an Event</button>
    </div>

    <div class="header-index-heading">
      <h2>Fitness Events in your area</h2>
    </div>
  </div>

  <div class="main-index-container">
    <%= render 'partials/eventcards' %>
  </div>

</div>
