<h2>Add a new event</h2>

<form action="/events" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Title</label>
  <input name="title" type="text">

  <label for="">Date</label>
  <input name="date" type="date">

  <label for="">Sport</label>
  <input name="sport" type="text">

  <label for="">Description</label>
  <textarea name="description" rows="8" cols="40"></textarea>

  <button>Create</button>
</form>
