
<div class="signupform">
  <h2>Add a new event</h2>

  <%= form_tag("/events", class: 'ui form', method: :post) %>

    <div class="field">
      <label for="">Title</label>
      <input name="title" type="text">
    </div>
    <div class="field">
      <label for="">Location</label>
      <input name="location" type="text">
    </div>
    <div class="field">
      <label for="">Sport</label>
      <select name="sport">
        <% @sports.each do |sport| %>
          <option value="<%= sport %>"><%= sport %></option>
        <% end %>
      <select>
    </div>
    <div class="field">
      <label for="">Cost</label>
      <input name="cost" type="number">
    </div>
    <div class="field">
      <label for="">Difficulty</label>
      <input name="difficulty" type="text">
    </div>
    <div class="field">
      <label for="">Description</label>
      <textarea name="description" rows="8" cols="40"></textarea>
    </div>
    <div class="field">
      <label for="">Additional Information</label>
      <textarea name="additional_information" rows="8" cols="40"></textarea>
    </div>
    <button class="ui blue button">Create</button>
</div>
