<h2>Add a new event</h2>

<%= form_tag("/events", method: :post) %>

  <label for="">Title</label>
  <input name="title" type="text">

  <label for="">Location</label>
  <input name="location" type="text">

  <label for="">Sport</label>
  <input name="sport" type="text">

  <label for="">Difficulty</label>
  <input name="difficulty" type="text">

  <label for="">Description</label>
  <textarea name="description" rows="8" cols="40"></textarea>

  <label for="">Additional Information</label>
  <textarea name="additional_information" rows="8" cols="40"></textarea>

  <button>Create</button>
