
<div class="event-show-wrapper">
  <section class="event-show-header">
    <h2><%= @event.title %></h2>

  </section>
  <section class="event-show-body">
    <p>Location</p>
    <p>About the Event: <%= @event.description %></p>
    <p>Difficulty: </p>
    <p>Date Posted: <%= @event.date %></p>
    <p>Cost:</p>
    <p>Additional Information:</p>
    <button type="button" name="button">Register</button>
  </section>
</div>
