
<div class="event-show-wrapper">
  <section class="event-show-header">
    <h2><%= @event.title %></h2>

  </section>
  <section class="event-show-body">
    <p>Location</p>
    <p>About the Event: <%= @event.description %></p>
    <p>Difficulty: </p>
    <p>Date Posted: <%= @event.date %></p>
    <p>Cost:</p>
    <p>Additional Information:</p>
    <form action="/registrations" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <button>Register</button>
    </form>
  </section>
</div>
