@import "fonts";
@import "variables";

.index-container {
  width: 100%;

  .header-index {
    width: 100%;

    .header-index-heading {
      h2 {
        font-size: 2em;
      }
    }

    .header-index-hostbtn,
    .header-index-search {
      width: 100%;
      display: block;
      margin: 1.5em auto;

      h2 {
        text-align: center;
      }
      form button, input {
        display: block;
        margin: 0 auto;
      }
    }

    .header-index-search {
      .field,
      .ui.blue.button {
        display: inline-block;
      }
      .field {
        width: 80%;
      }
    }
  }

  .main-index-container {
    width: 100%;

    .card-container {
      display: inline-block;
    }
  }
}
