
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fitafly</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><a href="#">My Profile</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
        <% end %>

        <li class="dropdown">

          <% if logged_in? %>

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="#">My Activities</a></li>
              <li><a href="#">Messages</a></li>
              <li><a href="#">Create Event</a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= form_tag("/logout", method: "delete") do %>
                  <button class="btn btn-default">Log out (<%= current_user.username %>)</button>
                <% end %>
              </li>
            </ul>

          <% else %>

            <li><a href="/login">Login</a></li>

          <% end %>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
